body {
  background: pink;
}

.content {
  width: 100px;
  height: 100px;
  border: 1px solid grey;
}

.grid-container {
  display: grid;
  grid-gap: 10px;
  grid-template-columns: repeat(16, 200px);
  background-color: #2196F3;
  padding: 10px;
}

.grid-item {
  background-color: rgba(255, 255, 255, 0.8);
  border: 1px solid rgba(0, 0, 0, 0.8);
  padding: 20px;
  font-size: 30px;
  text-align: center;
}
