body {
  font-family: cursive, sans-serif;
  color: rgba(0, 0, 0, .85);
}

html {
  text-align: center;
  display: block;
}

#btn {
  background-color: white;
  border: none;
  color: black;
  border: 2px solid #08979c;
  border-radius: 3px;
  transition-duration: 0.4s;
  margin: 20px;
  padding: 5px 10px;
  font-size: 15px;
}

#btn:hover {
  background-color: #08979c;
  color: white;
}
.grid-container {
  display: grid;
  background-color: #08979c;
  grid-template-columns: repeat(var(--grid-rows), auto);
  grid-template-rows: repeat(var(--grid-cols), auto);
  width: 500px;
  height: 500px;
  max-width: 500px;
  margin: 0 auto;
  border: 5px solid #006d75;
}

.grid-container > div{
  background-color: rgba(255, 255, 255, 0.8);
  border: 0.2px solid rgba(0, 0, 0, 0.8);
}
